<div class="login-page">
    <mat-card>
        <mat-card-title>LOG IN</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email">
                <mat-icon matSuffix> email </mat-icon>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password">
                <mat-icon matSuffix> vpn_key </mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" class="login-button"> Log In </button>
        </mat-card-actions>
    </mat-card>
</div>
