<div class="header">
    <div class="header__menu">
        <h1> Apple Shop </h1>
        <a mat-raised-button routerLink="/products" routerLinkActive="active">All Products</a>
        <a mat-raised-button routerLink="/mobiles" routerLinkActive="active"><mat-icon>phone_android</mat-icon>Mobiles</a>
        <a mat-raised-button routerLinkActive="active"><mat-icon>laptop_mac</mat-icon>Laptops</a>
        <a mat-raised-button routerLinkActive="active"><mat-icon>tablet_mac</mat-icon>Tablets</a>
    </div>
    <div class="header__auth">
        <button mat-raised-button>Log In</button>
        <button mat-raised-button>Sign Up</button>
    </div>
</div>
